@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'IBM Plex Sans', system-ui, sans-serif;
  }
}

@layer components {
  .btn-secondary {
    @apply rounded-full border border-gray-200 bg-white text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700;
  }

  .form-input-title {
    @apply relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm;
  }
  .form-label {
    @apply block text-sm font-medium text-gray-700;
  }

  .main-title {
    @apply bg-gradient-to-r from-teal-300 to-blue-600 bg-clip-text tracking-wider text-transparent;
  }
  .sub-title {
    @apply bg-gradient-to-r from-tealBlue to-peach bg-clip-text text-transparent;
  }
}

.nav {
  height: 100%;
  width: 100%;
  @apply bg-darkishGreen text-pinkishWhite;
}
